/* Fenêtre modale */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6); /* Fond semi-transparent */
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Contenu de la fenêtre modale */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 0;
    border: none;
    width: 80%;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    animation: slideIn 0.5s;
}

@keyframes slideIn {
    from {transform: translateY(-50px); opacity: 0;}
    to {transform: translateY(0); opacity: 1;}
}

/* Contenu de la fenêtre modale pour la section projets */
.projets-modal .modal-content {
    width: 90%;
    max-width: 1200px;
}

/* En-tête de la fenêtre modale */
.modal-header {
    position: relative;
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Bouton de fermeture */
.closeBtn {
    color: white;
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 28px;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.closeBtn:hover,
.closeBtn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Corps de la fenêtre modale */
.modal-body {
    padding: 40px;
}

.modal-body h3 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
    color: black;
}

.modal-body p {
    font-size: 1.4rem;
    line-height: 1.6;
    text-align: justify;
}

.modal-open {
    overflow: hidden;
}

.project-modal {
    position: relative;
}


/* Styles pour les informations du projet */
.info-projet {
    margin-bottom: 20px;
}

.info-projet p {
    margin-bottom: 10px;
}

.info-projet strong {
    font-weight: bold;
}

/* Styles pour les icônes des outils utilisés */
.outils-utilises {
    margin-top: 20px;
}

.outils-utilises a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    font-size: 1.6rem;
    color: var(--main-color);
    text-decoration: none;
    margin-right: 1rem; /* Espacement entre les icônes */
    transition: all 0.3s ease;
}

.outils-utilises a i {
    font-size: 24px;
}
.outils-utilises a:hover {
    background-color: var(--main-color);
    color: #fff;
    transform: scale(1.1);
}
